{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Your Cart</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Product 1</td>
                    <td>$100</td>
                    <td>1</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>Product 2</td>
                    <td>$200</td>
                    <td>2</td>
                    <td>$400</td>
                </tr>
            </tbody>
        </table>
        <div class="text-right">
            <h4>Total: $500</h4>
            <a href="#" class="btn btn-primary">Checkout</a>
        </div>
    </div>
{% endblock %}
