{% extends 'base.html' %}
{% block content %}
{% if carts %}
<div class="container mt-5">
    <h1 class="text-center">Your Cart</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Discounted price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
        {% for cart in carts %}
            <tr>
                <td>{{cart.product}}</td>
                <td>${{cart.product.price}}</td>
                <td>${{cart.product.get_price}}</td>
                <td>{{cart.quantity}}</td>
                <td>{% widthratio cart.quantity 1 cart.product.get_price %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-right">
        <h4>Total: ${{carts.0.get_total_price_for_user}}</h4>
        <a href="#" class="btn btn-primary">Order</a>
    </div>
</div>
{% else %}
<h1>Ваша корзина пуста.</h1>
{% endif %}
{% endblock %}
