{% extends 'base.html' %}

{% block modal_cart %}
{% include 'modal_cart.html' %}
{% endblock %}

{% block content %}
{% load static %}
{% load electron_tags %}
<div class="container mt-5">
    <h1 class="text-center">Каталог</h1>

    {% if products %}

    {% if request.GET.q %}
    <h3>Результаты поиска по запросу {{request.GET.q|lower}}</h3>
    {% endif %}

    <div class="dropdown mb-2">
        <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            Фильтры
        </button>
        <form action="{% url 'category' selected_category_slug %}"
              method="get"
              class="dropdown-menu bg-dark"
              data-bs-theme="dark">
            <div class="container">

                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="checkbox" name="discount" id="flexCheckDefault" value="on" {% if request.GET.discount == "on" %}checked{% endif %}>
                    {% if request.GET.q %}
                    <input type="hidden" name="q" value="{{request.GET.q}}">
                    {% endif %}
                    <label class="form-check-label" for="flexCheckDefault">
                        Товары со скидкой
                    </label>
                </div>

                <p class="text-white mx-3 mt-3">Сортировать:</p>

                <div class="form check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by_price" id="flexRadioDefault1" value="default"
                           {% if not request.GET.order_by_price or request.GET.order_by_price == "default" %}checked{% endif %}>
                    <label class="form-check-label" for="flexRadioDefault1">
                        По умолчанию
                    </label>
                </div>

                <div class="form check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by_price" id="flexRadioDefault2" value="price"
                           {% if request.GET.order_by_price == "price" %}checked{% endif %}>
                    <label class="form-check-label" for="flexRadioDefault2">
                        По возрастанию цены
                    </label>
                </div>

                <div class="form check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by_price" id="flexRadioDefault3" value="-price"
                           {% if request.GET.order_by_price == "-price" %}checked{% endif %}>
                    <label class="form-check-label" for="flexRadioDefault3">
                        По убыванию цены
                    </label>
                </div>

            </div>
            <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
        </form>
    </div>
    {% endif %}

    <div class="row">

        {% if products %}
        {% for product in products %}
        <div class="col-md-4">
            <div class="card">

                <a href="{% url 'product' product.product_slug %}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'default_product_image.png' %}{% endif %}"
                         class="card-img-top"
                         alt="{{ product.name }}">
                </a>

                <div class="card-body">

                    {% autoescape off %}
                    <a href="{% url 'product' product.product_slug %}">
                        <h5 class="card-title">{% if request.GET.q %}{{product.headline}}{%else%}{{ product.name }}{%endif%}</h5>
                    </a>
                    {% endautoescape %}

                    {% autoescape off %}
                    <p class="card-text">{%if request.GET.q %}{{product.bodyline|truncatewords:"13"}}{%else%}{{ product.description|truncatewords:"10" }}{% endif %}</p>
                    {% endautoescape %}

                    {% if product.discount %}
                    <p>$<s>{{product.price}}</s></p>
                    <p><strong>${{product.get_price}}</strong></p>
                    <span class="badge bg-warning text-dark">Ckugka {{product.discount}}%</span>
                    {% else %}
                    <h5>${{product.price}}</h5>
                    {% endif %}

                    {% csrf_token %}
                    <a href="{% url 'cart_add' product.product_slug %}" class="btn btn-primary">Добавить в корзину</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h1>Товары не найдены</h1>
        {% endif %}

    </div>
</div>

{% if products %}
<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a href="{% if page_obj.has_previous %}?{% add_params page=page_obj.previous_page_number %}{% else %}#{% endif %}" class="page-link">
                Previous
            </a>
        </li>

        {% for page in page_obj.paginator.page_range %}
        {% if page >= page_obj.number|add:-3 and page <= page_obj.number|add:3 %}
        <li class="page-item {% if page_obj.number == page %}active{% endif %}">
            <a href="?{% add_params page=page %}"
               class="page-link">
                {{page}}
            </a>
        </li>
        {% endif %}
        {% endfor %}

        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a href="{% if page_obj.has_next %}?{% add_params page=page_obj.next_page_number %}{% else %}#{% endif %}" class="page-link">
                Next
            </a>
        </li>
    </ul>
</nav>
{% endif %}

{% endblock %}