{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Catalog</h1>
    <div class="row">

        {% if products %}
        {% for product in products %}
        <div class="col-md-4">
            <div class="card">
                {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description|truncatewords:"10" }}</p>

                    {% if product.discount %}
                    <p>$<s>{{product.price}}</s></p>
                    <p><strong>${{product.get_price}}</strong></p>
                    <span class="badge bg-warning text-dark">Ckugka {{product.discount}}%</span>
                    {% else %}
                    <h5>${{product.price}}</h5>
                    {% endif %}

                    <a href="{% url 'cart_add' product.id %}" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

    </div>
</div>

<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item {% if not products.has_previous %}disabled{% endif %}">
            <a href="{% if products.has_previous %}{% url 'category_on_page' selected_category_slug products.previous_page_number %}{% else %}#{% endif %}" class="page-link">
                Previous
            </a>
        </li>

        {% for page_number in products.paginator.page_range %}
        <li class="page-item">
            <a href="{% url 'category_on_page' selected_category_slug page_number %}" class="page-link">
                {{page_number}}
            </a>
        </li>
        {% endfor %}

        <li class="page-item {% if not products.has_next %}disabled{% endif %}">
            <a href="{% if products.has_next %}{% url 'category_on_page' selected_category_slug products.next_page_number %}{% else %}#{% endif %}" class="page-link">
                Next
            </a>
        </li>
    </ul>
</nav>

{% endblock %}