{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if orders %}
<header>
    <h1>Мои Заказы</h1>
</header>

<main>
    <section id="order-list">
        <!-- Здесь будут отображаться заказы -->

        {% for order in orders %}
        <div class="order-item">
            <div class="order-header">
                <h3 class="order-id">ID заказа: {{order.id}}</h3>
                <span class="order-date">Дата: {{order.created_timestamp}}</span>
                <span class="order-status">Статус: <strong>{{order.status}}</strong></span>
            </div>
            <div class="order-details">
                <ul class="order-products">

                    {% for item in order.orderItems.all %}
                   <li>
                       <span class="product-name">{{item.name}}</span>
                       <span class="product-qty">Кол-во: {{ item.quantity }}</span>
                       <span class="product-price">Цена 1 продукта: ${{ item.price }}</span>
                       <span class="product-price">Цена: ${{ item.products_price }}</span>
                    </li>
                    {% endfor %}
                    <li><strong>Заказ на сумму ${{order.orderItems.total_price}}</strong></li>

                </ul>
            </div>
        </div>
        {% endfor %}
    </section>
</main>
{% else %}
<h5>Нет заказов</h5>
{% endif %}
{% endblock %}