{% load static %}
{% load cart_tags %}
{% user_carts request as carts %}

<div class="text-center">

    <div>
        <button type="button" class="btn btn-white d-flex my-2" id="modalButton"
        aria-expanded="false" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img class="mx-1" src="{% static 'cart.png' %}" alt="Cart" width="24" height="24">
            <span id="goods-in-cart-count">{% if carts %}{{carts.get_total_quantity}}{% else %}0{% endif %}</span>
        </button>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
                </div>
                {% if carts %}
                <div class="modal-body" id="cart-is-not-empty">
                    <h3 class="text-center mb-4">Корзина</h3>
                    <div class="container" id="cart-items-container">
                        <div class="card mb-3 text-bg-light shadow-lg">
                            {% for cart in carts %}
                            <div id="product-exists-row">
                                <div class="card-header">
                                    <h5 class="card-title">{{cart.product}}</h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="row text-center">
                                            <div class="col p-0">
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <a data-product-id="{{cart.product.id}}"
                                                           data-product-slug="{{cart.product.product_slug}}"
                                                           class="take-away btn btn-light btn-sm"
                                                           href="{% url 'cart_take_away' %}">
                                                            {% csrf_token %}
                                                            -</a>
                                                    </span>
                                                    <p id="{{cart.product.product_slug}}">{{cart.quantity}}</p>
                                                    <span class="input-group-btn">
                                                        <a data-product-id="{{cart.product.id}}"
                                                           data-product-slug="{{cart.product.product_slug}}"
                                                           class="add-to-cart btn btn-light btn-sm"
                                                           href="{% url 'cart_add' %}">
                                                            {% csrf_token %}
                                                            +</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col p-0">
                                                <p>x <em id="price-{{cart.product.product_slug}}">{{cart.product.get_price}}</em> = </p>
                                            </div>
                                            <div class="col p-0">$<strong id="total-product-{{cart.product.product_slug}}">{{cart.get_price_for_product}}</strong></div>
                                            <div class="col p-0">
                                                <a href="{% url 'cart_remove' %}" class="remove-from-cart" data-cart-id="{{cart.id}}">
                                                    <img class="mx-1" src="{% static 'bin_icon.png' %}" alt="remove" width="16" height="16">
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="card mb-3 shadow-lg">
                            <div class="card-footer">
                                <p class="float-left">Итого <strong id="total-products-in-cart">{{carts.get_total_quantity}}</strong> товар(ов) на сумму</p>
                                <h4 class="float-left">$<strong id="total-price">{{carts.get_total_price_for_user}}</strong></h4>
                            </div>
                            <a class="clear-up" href="{% url 'cart_clear_up' %}">Очистить корзину</a>
                        </div>
                        <a class="btn btn-dark" href="{% url 'make_order' %}">Оформить заказ</a>
                    </div>
                </div>
                {% else %}
                <div class="modal-body">
                    <h1 class="text-center">Ваша корзина пуста</h1>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>