{% load electron_tags %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">Electron</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <button class="catalog-button nav-link">Каталог</button>
                <div class="dropdown-menu">
                    <ul>

                        {% get_categories as categories %}
                        {% for category in categories %}
                        <li class="nav-item">
                            <a class="nav-link catalog-button"
                               href="{% url 'category' category.category_slug %}">
                                {{category.name}}
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'cart' %}">Cart</a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   href="{% if not user.is_authenticated %}{% url 'login' %}{% else %}{% url 'profile' %}{% endif %}">
                    {% if not user.is_authenticated %}Login{% else %}Profile{% endif %}
                </a>
            </li>

            {% if selected_category_slug %}
            <li>
                <form class="d-flex" role="search" action="{% url 'category' selected_category_slug %}" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">

                    {% if request.GET %}
                    {% for k, v in request.GET.items %}
                    {% if k != 'q' %}
                    <input type="hidden" name="{{k}}" value="{{v}}">
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    <button class="btn btn-outline-success text-white" type="submit">
                        Search
                    </button>
                </form>
            </li>
            {% endif %}

            {% if user.is_superuser or user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Admin pannel</a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>