{% extends 'base.html' %}
{% block content %}
<form action="{% url 'profile' %}" method="post">
    {% csrf_token %}
    <div>
        <label for="{{ form.nickname.id_for_label }}">nickname</label>
        {{ form.nickname }}
    </div>
    <div>
        <label for="{{ form.username.id_for_label }}">username</label>
        {{ form.username }}
    </div>
    <div>
        <label for="{{ form.email.id_for_label }}">email</label>
        {{ form.email }}
    </div>
    <input type="submit" value="Save changes">
</form>
<p><a href="{% url 'logout' %}">Log out</a></p>
{% endblock %}