{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">

    {% if form.errors %}
    {{form.errors}}
    {% endif %}

    <h1 class="text-center">Register</h1>
    <form action="{% url 'registration' %}" method="post">

        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.nickname.id_for_label }}">Nickname</label>
            {{ form.nickname }}
        </div>
        <div class="form-group">
            <label for="{{form.email.id_for_label}}">Email address</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}">Password</label>
            {{ form.password1 }}
        </div>
        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Confirm password</label>
            {{ form.password2 }}
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>

    <p><a href="{% url 'login' %}">have already registered? login then</a></p>

</div>
{% endblock %}
