{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load cart_tags %}
{% user_carts request as carts %}
{% if carts %}
<div class="container mt-5">
    <h1 class="text-center">Your Cart</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for cart in carts %}
            <tr>
                <td><h5 class="card-title">{{cart.product}}</h5></td>
                <td>${{cart.product.get_price}}</td>
                <td>
                    <span class="input-group-btn">
                        <a class="btn btn-light btn-sm decrement" href="{% url 'cart_take_away' cart.product.product_slug %}">-</a>
                        {{cart.quantity}}
                        <a class="btn btn-light btn-sm increment" href="{% url 'cart_add' cart.product.product_slug %}">+</a>
                    </span>
                </td>
                <td><strong>${{cart.get_price_for_product}}</strong></td>
                <td>
                    <a href="{% url 'cart_remove' cart.product.product_slug %}" class="remove-from-cart" data-cart-id="">
                        <img class="mx-1" src="{% static 'bin_icon.png' %}" alt="remove" width="16" height="16">
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'cart_clear_up' %}">Очистить корзину</a>
    <div class="text-right">
        <h4>Total: ${{carts.get_total_price_for_user}}</h4>
        <a href="{% url 'make_order' %}" class="btn btn-primary">Order</a>
    </div>
</div>
{% else %}
<h1 class="text-center">Ваша корзина пуста.</h1>
{% endif %}
{% endblock %}
