{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load cart_tags %}
{% user_carts request as carts %}
{% if carts %}
<div id="cart-is-not-empty">













<div class="container mt-5" id="cart-items-container">
    <h1 class="text-center">Корзина</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Товар</th>
                <th scope="col">Цена</th>
                <th scope="col">Количество</th>
                <th scope="col">Итоговая цена</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for cart in carts %}
            <tr id="product-exists-row">
                <td><h5 class="card-title">{{cart.product}}</h5></td>
                <td>$<em id="price-{{cart.product.product_slug}}">{{cart.product.get_price}}</em></td>
                <td>
                    <span class="input-group-btn">
                        <a data-product-id="{{cart.product.id}}"
                           data-product-slug="{{cart.product.product_slug}}"
                           class="take-away btn btn-light btn-sm"
                           href="{% url 'cart_take_away' %}">
                            {% csrf_token %}
                            -</a>
                        <strong id="{{cart.product.product_slug}}">{{cart.quantity}}</strong>
                        <a data-product-id="{{cart.product.id}}"
                           data-product-slug="{{cart.product.product_slug}}"
                           class="add-to-cart btn btn-light btn-sm"
                           href="{% url 'cart_add' %}">
                            {% csrf_token %}
                            +</a>
                    </span>
                </td>
                <td>$<strong id="total-product-{{cart.product.product_slug}}">{{cart.get_price_for_product}}</strong></td>
                <td>
                    <a href="{% url 'cart_remove' %}" class="remove-from-cart" data-cart-id="{{cart.id}}">
                        <img class="mx-1" src="{% static 'bin_icon.png' %}" alt="remove" width="16" height="16">
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="clear-up" href="{% url 'cart_clear_up' %}">{% csrf_token %}Очистить корзину</a>
    <div class="text-right">
        <h4>Total: $<em id="total-price">{{carts.get_total_price_for_user}}</em></h4>
        <a href="{% url 'make_order' %}" class="btn btn-primary">Заказать</a>
    </div>
</div>
{% else %}
<h1 class="text-center">Ваша корзина пуста</h1>
{% endif %}

















</div>
{% endblock %}
